// app global css in SCSS form
a {
  text-decoration: none;
}

;

h3 {
  display: inline-block;
  font-weight: 450;
  cursor: pointer;
}

.info-amount-active {
  width: 120px;
  height: 40px;
  // background: black;
}
